h1 {
  color: #00ff00;
  text-align: center;
  width: 60%;
}

h2{
  color: #00ff00;
  text-align: center;
  width: 60%;
}

p.intro {
  color: #00ff00;
  width: 50%;
}
p.community {
  color: #00ff00;
  text-align: center;
  width: 50%
}
p.anticipation {
  color: #00ff00;
  width: 50%;
}

p.cdirepair {
  color: #00ff00;
  width: 50%;
}

p.author {
  color: #00ff00;
  width: 50%;
}

body {
  background-color: #000000;
}

.pics {
  float: right;
  width: 20%;
}

.sidebar {
  margin: 12px;
  border: 6px solid green;
  padding: 12px;
  background-color: black;
  float: left;
}

li {
  color: #00ff00
}
