h1 {
  color: #00ff00;
  text-align: center;
  width: 50%
}

h2{
  color: #00ff00;
  text-align: center;
  width: 50%;
}

p {
  color: #00ff00;
  width: 50%;
  text-align: left;
}

body {
  background-color: #000000;
}

.pics {
  float: right;
  width: 20%;
}

.sidebar {
  margin: 12px;
  border: 6px solid green;
  padding: 12px;
  background-color: black;
  float: left;
}

li {
  color: #00ff00
}

.column {
  width: 300px;
  float: right;
}
